// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  background-image: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 100%;
}

.header-logo {
  display: flex;
  height: 50px;
  .logo{
    margin-left: -80px
  }
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 3em auto 0;
  align-items: center;
}

.header-nav {
  display: flex;

  ul {
    display: flex;

    li {
      list-style: none;
      padding: 0 10px;
      color: $text-color;
      text-transform: uppercase;
    }
  }
}

.header-main {
  margin-top: 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  .alaska{
    width: 80px;
  }
  .play{
    width: 30px;
  }
  .play-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    @include icon;
    background-color: rgba(255,255,255,0.4);
  }
  h2{
    margin-bottom: 10px;
  }
  h1 {
    font-size: 7em;
    margin: 10px;
  }
}

.line {
  display: flex;
  width: 20%;
  justify-content: center;
  background-color: $text-color;
  height: 5px;
  margin-bottom: 2em;
}

.header-button {
  margin-top: 20em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $brand-color;
  color: $text-color;
  height: 60px;
  width: 180px;

}
