nav {
  background-image: url(../img/bg-footercopyright.jpg);
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: $mid-grey;
  font-size: 1.2em;
  height: 4em;

}

.nav {
  display: flex;
  ul {
    display: flex;
    padding-left: 0px;
    li {
      list-style: none;
      padding: 0 10px;
    }
  }
}


.brand-color {
  color: $brand-color;
}
