/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

header, section, nav, footer {
  width: 100%; }

body {
  font-family: 'Fjalla One', sans-serif; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Adamina', serif; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  background-image: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header-logo {
  display: flex;
  height: 50px; }
  .header-logo .logo {
    margin-left: -80px; }

.header-navbar {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 3em auto 0;
  align-items: center; }

.header-nav {
  display: flex; }
  .header-nav ul {
    display: flex; }
    .header-nav ul li {
      list-style: none;
      padding: 0 10px;
      color: #ffffff;
      text-transform: uppercase; }

.header-main {
  margin-top: 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: #ffffff; }
  .header-main .alaska {
    width: 80px; }
  .header-main .play {
    width: 30px; }
  .header-main .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4); }
  .header-main h2 {
    margin-bottom: 10px; }
  .header-main h1 {
    font-size: 6em;
    margin: 10px; }

.line {
  display: flex;
  width: 10%;
  justify-content: center;
  background-color: #ffffff;
  height: 5px;
  margin-bottom: 2em; }

.header-button {
  margin-top: 20em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc7725;
  color: #ffffff;
  height: 60px;
  width: 180px; }

nav {
  background-image: url(../img/bg-footercopyright.jpg);
  position: sticky;
  top: 0;
  z-index: 50; }

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: #85857b;
  font-size: 1.2em;
  height: 4em; }

.nav {
  display: flex; }
  .nav ul {
    display: flex;
    padding-left: 0px; }
    .nav ul li {
      list-style: none;
      padding: 0 10px; }

.brand-color {
  color: #dc7725; }

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff; }

.gal-img {
  position: relative;
  padding: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  flex-basis: 25%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .gal-img .icon {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    margin: 0 auto;
    background-color: #2a2b29d6;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gal-img img {
    height: 40px; }

.gal-img-1 {
  background-image: url(../img/home-raft.jpg);
  flex-grow: 2;
  flex-basis: 50%; }

.gal-img-2 {
  background-image: url(../img/home-basecamp.jpg); }

.gal-img-3 {
  background-image: url(../img/home-backpacking.jpg); }

.gal-img-4 {
  background-image: url(../img/home-canoe.jpg); }

.gal-img-5 {
  background-image: url(../img/home-photo.jpg); }

.gal-img-6 {
  background-image: url(../img/home-custom.jpg);
  flex-grow: 2;
  flex-basis: 50%; }

.line-gallery {
  display: flex;
  width: 30px;
  justify-content: center;
  background-color: #dc7725;
  height: 5px; }

@media (max-width: 500px) {
  .gallery {
    flex-direction: column; }

  .gal-img {
    width: 100%; } }
.experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e6e6e1; }

.experience-top {
  position: relative;
  margin-top: 4em;
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .experience-top h3 {
    color: #85857b;
    margin-bottom: .1em; }
  .experience-top h1 {
    font-size: 3em;
    color: #343433;
    margin-top: .3em;
    margin-bottom: .3em; }
  .experience-top p {
    font-size: 1.25em;
    color: #85857b; }

.experience-text {
  width: 50%; }

.experience-absolute {
  position: absolute;
  top: -4em;
  right: -43em;
  z-index: 0; }

.experience-buttons {
  margin-top: 5em;
  margin-bottom: 10em;
  display: flex;
  align-items: center;
  height: 50px; }
  .experience-buttons .left-button {
    padding: 5px;
    background-color: #dc7725;
    color: #ffffff !important;
    border-radius: 5px;
    margin-right: 1em; }
  .experience-buttons .right-button {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #85857b; }

.line-experience {
  display: flex;
  width: 100px;
  justify-content: center;
  background-color: #85857b;
  height: 5px; }

.experience-bottom {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
  padding-top: 10em;
  background-image: url(../img/bg-testimonials.jpg);
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c9c9b8;
  border-top: 2px solid #c9c9b8; }

.experience-bottom-text {
  position: relative;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #343433; }

.clients {
  z-index: 200;
  width: 900px;
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .clients img {
    border-radius: 50%;
    height: 60px; }
  .clients img:nth-child(3) {
    height: 100px; }

.line-experience-bottom {
  position: absolute;
  background-color: #85857b;
  height: 1px;
  width: 100%;
  top: 15em;
  z-index: 1; }

.destination {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #e1e1db url(../img/bg-destinations.png) bottom center no-repeat; }

.destination-section {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.destination-text {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  text-align: center; }
  .destination-text h3 {
    color: #85857b;
    margin-bottom: 0px; }
  .destination-text h1 {
    color: #343433;
    margin: .15em 0;
    font-size: 3em; }
  .destination-text p {
    font-size: 1.35em;
    margin-bottom: 4em; }

.line-destination {
  display: flex;
  width: 100px;
  justify-content: center;
  align-self: center;
  background-color: #85857b;
  height: 3px; }

.destination-map {
  position: relative;
  height: 700px;
  background: url(../img/destinations-map.png) center no-repeat; }

.destination-stuff {
  position: absolute;
  top: 5em;
  left: 41em;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #85857b; }

.destination-buttons {
  margin-top: 1em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .destination-buttons .dest-left {
    flex-grow: 1;
    padding: 5px;
    border: solid 1px #85857b;
    color: #85857b; }
  .destination-buttons .dest-right {
    flex-grow: 1;
    padding: 5px;
    border: solid 1px #85857b;
    color: #dc7725; }

.mountain-shit {
  margin: 0px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.guides {
  background-image: url(../img/bg-guides.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex; }

.guide-content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 5em 0;
  justify-content: space-between; }

.guide-text {
  padding: 1em;
  color: #c9c9b8; }
  .guide-text h1 {
    color: #ffffff;
    font-size: 3em;
    margin: 0.5em 0; }
  .guide-text p {
    font-size: 1.25em; }

.guide-button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc7725;
  color: #ffffff; }

.footer {
  display: flex;
  flex-direction: column; }

.footer-top {
  background: url(../img/bg-footercopyright.jpg);
  display: flex;
  padding: 1em;
  height: 12em; }

.footer-top-content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-top-content h2 {
    color: #ffffff; }
  .footer-top-content p {
    color: #85857b; }

.ft-top-right:hover {
  fill: #dc7725;
  cursor: pointer; }

footer {
  background-color: #343433; }

.footer-bottom {
  width: 1100px;
  height: 30vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.ft-bt-left, .ft-bt-mid {
  width: 100% ul;
    width-width: 100%; }
  .ft-bt-left li, .ft-bt-mid li {
    list-style: none;
    padding: 10px 0px;
    border-bottom: 0.5px solid #85857b;
    color: #85857b; }

.ft-bt-mid li {
  list-style: none;
  padding: 10px 0px;
  width: 100%;
  border-bottom: 0.5px solid #85857b;
  color: #85857b; }

/*# sourceMappingURL=styles.css.map */
