/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit; }

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

header, section, nav, footer {
  width: 100%; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

header {
  background-image: url(../img/hero-slide1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header-logo {
  display: flex;
  height: 50px; }
  .header-logo .logo {
    margin-left: -80px; }

.header-navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 3em auto 0;
  align-items: center; }

.header-nav {
  display: flex; }
  .header-nav ul {
    display: flex; }
    .header-nav ul li {
      list-style: none;
      padding: 0 10px;
      color: #ffffff;
      text-transform: uppercase; }

.header-main {
  margin-top: 8em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  color: #ffffff; }
  .header-main .alaska {
    width: 80px; }
  .header-main .play {
    width: 30px; }
  .header-main .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4); }
  .header-main h2 {
    margin-bottom: 10px; }
  .header-main h1 {
    font-size: 7em;
    margin: 10px; }

.line {
  display: flex;
  width: 20%;
  justify-content: center;
  background-color: #ffffff;
  height: 5px;
  margin-bottom: 2em; }

.header-button {
  margin-top: 20em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc7725;
  color: #ffffff;
  height: 60px;
  width: 180px; }

nav {
  background-image: url(../img/bg-footercopyright.jpg);
  position: sticky;
  top: 0; }

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: #85857b;
  font-size: 1.2em;
  height: 4em; }

.nav {
  display: flex; }
  .nav ul {
    display: flex;
    padding-left: 0px; }
    .nav ul li {
      list-style: none;
      padding: 0 10px; }

.brand-color {
  color: #dc7725; }

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff; }

.gal-img {
  position: relative;
  padding: 20px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  flex-basis: 25%;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .gal-img .icon {
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    margin: 0 auto;
    background-color: #2a2b29d6;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .gal-img img {
    height: 40px; }

.gal-img-1 {
  background-image: url(../img/home-raft.jpg);
  flex-grow: 2;
  flex-basis: 50%; }

.gal-img-2 {
  background-image: url(../img/home-basecamp.jpg); }

.gal-img-3 {
  background-image: url(../img/home-backpacking.jpg); }

.gal-img-4 {
  background-image: url(../img/home-canoe.jpg); }

.gal-img-5 {
  background-image: url(../img/home-photo.jpg); }

.gal-img-6 {
  background-image: url(../img/home-custom.jpg);
  flex-grow: 2;
  flex-basis: 50%; }

.line-gallery {
  display: flex;
  width: 30px;
  justify-content: center;
  background-color: #dc7725;
  height: 5px; }

/*# sourceMappingURL=styles.css.map */
